@import '~antd/dist/antd.css';

.logo {
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  width: 10.5rem;
}
.site-title{
  font-size: 32px;
  font-weight: bold;
}
.button-nav-wrapper{
  float: right;
  display: flex;
  align-items: center;
  height: 100%;
}

.linkNav{
  font-size: 24px;
  margin-left: 260px;
}

.ant-menu-item {
  background: none !important;
  color: black !important;
}
.ant-menu-item-selected {
  background: none !important;
  color: black !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(44, 44, 44);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
