.allCard{
    background: 
        linear-gradient(#303030, #303030) padding-box,
        linear-gradient(to right, #FB762C, #003BD2) border-box;
    border-radius: 10px;
    padding: 0.5rem;
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}